/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--textcolor);
}

.border{
    border: solid white 1px;
}

:root{
    --background: #121212;
    --highlight: #1a1a1a;
    --textcolor: #fff;
    --subtext: #a7a7a7;
}

.title-text{
    font-size: 24px;
    font-weight: 700;
}

.normal-text{
    font-size: 1rem;
    font-weight: 400;
    color: var(--textcolor);
}

.sub-text{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--subtext);
}

.small-margin{
    margin: 30px;
}

.flex-center{
    display: flex;
    justify-content: center;
}