.mobile-nav {
    background: --background;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bloc-icon img {
    width: 30px;
  }
  
svg{
  width: 30px;
  height: 30px;
  color: #fff;
}

a{
  text-decoration: none
}