<!-- <div class="flex-row border">
    <img src="{{song.picture}}">
    <div class="song-div">
        <p class="normal-text">{{song.title | uppercase}}</p>
        <p class="sub-text">{{song.interpreter}}</p>
    </div>
    <div class="voting border">
        <p>up</p>
        <p>{{song.votes}}</p>
        <p>down</p>
    </div>
    
    
</div> -->
<div class="flex-container">
    <div class="left-container">
        <img src="{{song.picture}}" class="song-img">
        <div class="song-div">
            <p class="normal-text">{{song.title | uppercase}} test</p>
            <p class="sub-text">{{song.interpreter}}</p>
        </div>
    </div>
    <div class="right-container">
        <button class="">
            <img src="../../../assets/down.svg" alt="">
        </button>
        <p class="">{{song.votes}}</p>
        <button>
            <img src="../../../assets/up.svg" alt="">
        </button>
    </div>
</div>